body {
    margin: 0;
}
#_test_slide\.btn {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 200px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#onboard\.test {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.5);
    display: none;
}
.Page\.cls {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(56, 53, 53, 0.5);
}
.Page\.cls img, .Page\.cls video {
    display: block;
    margin: 10px 0 10px 0;
}
.Page\.cls video {
    
}
#indicator\.id {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#indicator\.id span {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(253, 253, 253);
    cursor: pointer;
}
#indicator\.id span:hover {
    background-color: white;
    box-shadow: 0px 0px 10px white;
}
.Active\.cls {
    display: block;
    opacity: 1;
}
.Hide\.cls {
    z-index: -1;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
}